dj_database_url==2.0.0
Django==4.2.3
django_environ==0.10.0
djangorestframework==3.14.0
environ==1.0
gensim==4.1.2
Janome==0.5.0
pandas==1.4.4
python-decouple==3.8
scikit_learn==1.0.2
transformers==4.30.2
psycopg2==2.9.6
whitenoise==6.5.0
gunicorn==21.2.0
